<!-- Header Search Start -->
<header class="container mb-4">
  <div class="row">
    <div class="col col-sm-3">
      <select id="form-search-model-name" class="form-select" aria-label="Model select" onchange="document.location.href=this.value" required>
        <option value="">Choose event source model</option>
        <% event_class_names.each do |klass| %>
          <% is_active = klass === @model_name ? 'selected' : '' %>
          <option value="<%= model_path(klass) %>" <%= is_active %>><%= klass %></option>
        <% end %>
      </select>
    </div>

    <% if @model_name %>
      <div class="col col-sm-7">
        <%= form_with url: model_entity_path(@model_name, ''), id: 'model-search' do |f| %>
          <%= f.search_field :event_id, class: 'form-control', placeholder: 'Go to event by identifier', value: @aggregate_id, aria: { label: 'Go to event by identifier' }  %>
        </div>
        <div class="col col-sm-2">
          <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
      <% end %>     
    <% end %>
  </div>
  <% if @model_name && !@aggregate_id && @filters.any? %>
    <%= form_with url: model_path(@model_name), method: :get, id: 'metadata-search' do |f| %>
      <div class="row">
        <% @filters.each do |filter, value| %>
          <div class="form-group col-sm-4">
            <%= f.search_field "filters[#{filter}]", class: 'form-control', placeholder: "Search by #{filter}", value: value, aria: { label: "Search by #{filter}" }  %>
          </div>
        <% end %>
        <div class="col col-sm-2">
          <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
        </div>
    <% end %>
  <% end %>
</header>
<!-- Header Search End -->
